<%- include('partials/header') %>

<h1>Contato</h1>

<form>
    <input type="text" placeholder="Nome"><br><br>
    <input type="email" placeholder="Email"><br><br>
    <textarea placeholder="Mensagem"></textarea><br><br>
    <button>Enviar</button>
</form>

<%- include('partials/footer') %>
